header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  color: rgb(3, 61, 3);
}
nav {
  display: flex;
  gap: 10vh;
  text-decoration: none;
  font-size: 20px;
}
nav a {
  color: rgb(3, 61, 3);
  font-weight: bold;
}
ul {
  display: flex;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
  list-style-type: none;
  color: rgb(3, 61, 3);
  font-size: 20px;
  font-weight: bold;
}
ul li {
  margin-bottom: 2vh;
}

ul li img {
  width: 25vw;
  height: 32vh;
  border-radius: 5px;
  margin-bottom: 2vh;
}
button {
  width: 111px;
  height: 43px;
  border: 3px solid #6fcf97;
  border-radius: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #6fcf97;
  background-color: transparent;
}
.home {
  background-image: url(./resource/images/tastatur.jpg);
  background-size: contain;
  height: 50vh;
}
.bottom-box {
  padding: 20px 50px;
  width: 20vw;
  margin-top: 50vh;
}
.cardDetails {
  display: flex;
  flex-direction: column;
}
.cardDetails img {
  width: 50vw;
  height: 60vh;
}
.contentDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0px;
}
